/* App.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevents overflow */
  box-sizing: border-box;
  font-family: Arial, sans-serif; /* Ensures consistent font */
}

#root {

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.app-container {
  max-width: 100vw;
  max-height: 100vh;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd; /* Optional: Add border for visual constraints */
  border-radius: 8px; /* Optional: Rounded corners */
  background-color: #f9f9f9; /* Optional: Background color */
}
